body{
	background-color: tomato;
}
h1, h3, h2{
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: green;
}
li, p, a{
	color: #ffff99;
	font-size: 20px;
}
li{
	display: inline;
}
a{
	text-decoration: none;
}
.extreme{
	border-style: solid;
	border-width: 10px;
	border-color: darkgreen;
}
